In [8]:
# from faker import Faker
# local_providers = ['ar_EG', 'ar_PS', 'ar_SA', 'bg_BG', 'bs_BA', 'cs_CZ', 'de_DE', 'dk_DK', 'el_GR', 'en_AU', 'en_CA', 'en_GB', 'en_IN', 'en_NZ', 'en_US', 'es_ES', 'es_MX', 'et_EE', 'fa_IR', 'fi_FI', 'fr_FR', 'hi_IN', 'hr_HR', 'hu_HU', 'hy_AM', 'it_IT', 'ja_JP', 'ka_GE', 'ko_KR', 'lt_LT', 'lv_LV', 'ne_NP', 'nl_NL', 'no_NO', 'pl_PL', 'pt_BR', 'pt_PT', 'ro_RO', 'ru_RU', 'sl_SI', 'sv_SE', 'tr_TR', 'uk_UA', 'zh_CN', 'zh_TW']
# language = ['Arabic', 'Arabic', 'Arabic', 'Bulgarian', 'Bosnian', 'Czech', 'German', 'Danish', 'Greek', 'English', 'English', 'English', 'English', 'English', 'English', 'Spanish', 'Spanish', 'Estonian', 'Persian', 'Finnish', 'French', 'Hindi', 'Croatian', 'Hungarian', 'Armenian', 'Italian', 'Japanese', 'Georgian', 'Korean', 'Lithuanian', 'Latvian', 'Nepali', 'Dutch', 'Norwegian', 'Polish', 'Portuguese', 'Portuguese', 'Romanian', 'Russian', 'Slovene', 'Swedish', 'Turkish', 'Ukranian', 'Chinese', 'Chinese']
# country = ['Egypt', 'Palestine', 'Saudi Arabia', 'Bulgaria', 'Bosnia', 'Czech Republic', 'Germany', 'Denmark', 'Greece', 'Australia', 'Canada', 'Great Britain', 'India', 'India', 'New Zealand', 'United States', 'Spain', 'Mexico', 'Estonian', 'Iran', 'Finnish', 'French', 'Hindi', 'Croatia', 'Hungary', 'Armenia', 'Italy', 'Japan', 'Georgia', 'South Korea', 'Lithuania', 'Latvia', 'Nepal', 'Netherlands', 'Norway', 'Brazil', 'Portugal', 'Romania', 'Russia', 'Slovakia', 'Sweden', 'Turkey', 'Ukraine', 'China', 'Taiwan']
# first_names = []
# last_names = []
# full_names = []
# arr_lang = []
# lang_cd = []
# arr_country = []

# for i in range(len(local_providers)):
#     fake = Faker([local_providers[i]])
#     for j in range(1000):
#         name = fake.name().split(' ')
#         first_names.append(name[0])
#         if (len(name) > 1):
#             last_names.append(name[1])
#         else:
#             last_names.append('')
#         full_names.append(name)
#         arr_lang.append(language[i])
#         lang_cd.append(local_providers[i].split('_')[0])
#         arr_country.append(country[i])
# df_names = pd.DataFrame({'first_name': first_names, 'last_name': last_names, 'full_name': full_names, 'language': arr_lang, 'language_code': lang_cd,'country': arr_country})

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import dtale as dt

df = pd.read_csv('spotify_dataset/data_by_artist.csv')

In [2]:
df.sample(10)

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
6634,Dímelo Flow,0.350667,0.730333,241857.666667,0.670667,0.000176,0.076533,-4.972333,0.245000,150.562000,0.454000,86.000000,0,0,3
3424,Buddy Clark,0.885000,0.660000,169533.000000,0.093300,0.000000,0.113000,-15.385000,0.050600,139.976000,0.601000,20.000000,10,0,1
4192,Charlotte Diamond,0.799000,0.871000,149387.000000,0.485000,0.000000,0.104000,-10.093000,0.052700,115.781000,0.962000,28.000000,0,1,2
6399,Dorothy Larsen,0.991000,0.291000,181400.000000,0.246000,0.000012,0.291000,-12.693000,0.040900,104.590000,0.182000,0.000000,8,1,2
15993,Max Romeo,0.190629,0.805000,212786.428571,0.557857,0.000592,0.094700,-9.278857,0.246657,103.314714,0.816000,49.857143,7,1,7
10871,James Carr,0.615333,0.450000,148124.333333,0.479000,0.000690,0.096600,-6.949000,0.045467,143.194667,0.531667,23.666667,7,1,6
8967,Girolamo Cavazzoni,0.420000,0.138000,138427.000000,0.016100,0.934000,0.162000,-14.880000,0.032800,70.063000,0.439000,0.000000,0,0,1
5158,Cyril Ornadel,0.909828,0.477759,197323.655172,0.310034,0.033588,0.384069,-14.189724,0.148907,105.953517,0.543034,15.413793,0,1,29
601,Albert Hammond,0.324220,0.544200,215764.600000,0.566067,0.000064,0.172427,-10.223333,0.029947,102.854000,0.671133,41.866667,9,1,15
1485,Archie Bell & The Drells,0.316857,0.606286,211335.000000,0.635714,0.000780,0.156871,-9.763000,0.148300,128.255429,0.834857,33.714286,11,1,14

In [3]:
df[df['artists'] == 'Drake']

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
6476,Drake,0.204738,0.675475,245906.041667,0.584922,0.004319,0.18873,-7.432773,0.213651,118.708009,0.386488,61.784091,1,1,528

In [4]:
dt.show(df)