In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('spotify_dataset/data_by_artist.csv')
df[df['artists'] == 'Drake']

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
6476,Drake,0.204738,0.675475,245906.041667,0.584922,0.004319,0.18873,-7.432773,0.213651,118.708009,0.386488,61.784091,1,1,528

In [9]:
from faker import Faker
local_providers = ['ar_EG', 'ar_PS', 'ar_SA', 'bg_BG', 'bs_BA', 'cs_CZ', 'de_DE', 'dk_DK', 'el_GR', 'en_AU', 'en_CA', 'en_GB', 'en_IN', 'en_NZ', 'en_US', 'es_ES', 'es_MX', 'et_EE', 'fa_IR', 'fi_FI', 'fr_FR', 'hi_IN', 'hr_HR', 'hu_HU', 'hy_AM', 'it_IT', 'ja_JP', 'ka_GE', 'ko_KR', 'lt_LT', 'lv_LV', 'ne_NP', 'nl_NL', 'no_NO', 'pl_PL', 'pt_BR', 'pt_PT', 'ro_RO', 'ru_RU', 'sl_SI', 'sv_SE', 'tr_TR', 'uk_UA', 'zh_CN', 'zh_TW']
language = ['Arabic', 'Arabic', 'Arabic', 'Bulgarian', 'Bosnian', 'Czech', 'German', 'Danish', 'Greek', 'English', 'English', 'English', 'English', 'English', 'English', 'Spanish', 'Spanish', 'Estonian', 'Persian', 'Finnish', 'French', 'Hindi', 'Croatian', 'Hungarian', 'Armenian', 'Italian', 'Japanese', 'Georgian', 'Korean', 'Lithuanian', 'Latvian', 'Nepali', 'Dutch', 'Norwegian', 'Polish', 'Portuguese', 'Portuguese', 'Romanian', 'Russian', 'Slovene', 'Swedish', 'Turkish', 'Ukranian', 'Chinese', 'Chinese']
country = ['Egypt', 'Palestine', 'Saudi Arabia', 'Bulgaria', 'Bosnia', 'Czech Republic', 'Germany', 'Denmark', 'Greece', 'Australia', 'Canada', 'Great Britain', 'India', 'India', 'New Zealand', 'United States', 'Spain', 'Mexico', 'Estonian', 'Iran', 'Finnish', 'French', 'Hindi', 'Croatia', 'Hungary', 'Armenia', 'Italy', 'Japan', 'Georgia', 'South Korea', 'Lithuania', 'Latvia', 'Nepal', 'Netherlands', 'Norway', 'Brazil', 'Portugal', 'Romania', 'Russia', 'Slovakia', 'Sweden', 'Turkey', 'Ukraine', 'China', 'Taiwan']
first_names = []
last_names = []
full_names = []
arr_lang = []
arr_country = []

for i in range(len(local_providers)):
    fake = Faker([local_providers[i]])
    for j in range(1000):
        name = fake.name().split(' ')
        first_names.append(name[0])
        if (len(name) > 1):
            last_names.append(name[1])
        else:
            last_names.append('')
        full_names.append(name)
        arr_lang.append(language[i])
        arr_country.append(country[i])
df_names = pd.DataFrame({'first_name': first_names, 'last_name': last_names, 'full_name': full_names, 'language': arr_lang, 'country': arr_country})

In [10]:
df_names

      first_name  last_name                full_name language country
0          Amber  Robertson       [Amber, Robertson]   Arabic   Egypt
1           Adam       Good             [Adam, Good]   Arabic   Egypt
2        Candice   Morrison  [Candice, Morrison, MD]   Arabic   Egypt
3         Regina      Perez          [Regina, Perez]   Arabic   Egypt
4        Rebecca      Davis         [Rebecca, Davis]   Arabic   Egypt
...          ...        ...                      ...      ...     ...
44995        劉怡婷                               [劉怡婷]  Chinese  Taiwan
44996        孫淑惠                               [孫淑惠]  Chinese  Taiwan
44997         莫懿                                [莫懿]  Chinese  Taiwan
44998        鮑宗翰                               [鮑宗翰]  Chinese  Taiwan
44999        司佩君                               [司佩君]  Chinese  Taiwan

[45000 rows x 5 columns]